.thumbnail-cont {
    display: flex;
    flex-direction: column;
    width: 200px;
    row-gap: 0.5rem;
}

.thumbnail-cont p {
    margin: 0;
}
.img-cont img {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.item-name {
    color: #979797;
}

.item-price {
    font-weight: 500;
}

.desc-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.brand-logo {
    object-fit: contain;
    width: 40px;
}
